*{
    margin: 0;
    padding: 0;
    font-family:'inter', sans-serif;
}

body{
    background-color: #97979c;  
    background-image: url(/programming-coding-language-wallpaper-3840x2160_54.jpg);
 
    background-repeat: no-repeat;
}

header{
    display: flex;
    width: 100%;
    height: 70px;
  }
 
.logo{
    display: flex;
    height: 60px;
    padding-top: 20px;
    padding-left: 40px;
}
  .encriptador {
    display: flex;
    width: 700px;
    height: 60px;
    margin-left: 200px;
    padding-top: 30px;
    padding-left: 40px;
    color: #ffffff;
}
.bandera{
    height: 50px;
    margin-left: -220px;
    padding-top: 25px;
    padding-left: 10px;
}

main{
    position: absolute;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
}
.contenedorcajatexto{
    position: absolute;
    left: 200px;
    top: 100px;
    padding-left: 100px;
    width: 1080px;
}
.cajatexto{
    width: 750px;
    height: 100%;
    border:none;
    background-color: #0a3871;
    cursor: pointer;
    color: #ffffff;
    font-size: 32px;
    font-weight: 400;
    font-family: 'inter', sans-serif;
    font-style: italic;
}

.cajatexto::placeholder{
    color: #ffffff;
}
.alerta{
    position:absolute;
    height: 30px;
    top: 700px;
    left: 370px;
    display: flex;
    color: #ffffff;
}
.contenedor-botones{
    position: absolute;
    top: 750px;
    height: 80px;
    padding-left:15%;
    padding-top: 15px;
}
.btn-encriptar{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background-color: #0a3871;
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    border: none;
    margin-right: 20px;
    cursor: pointer;
}
.btn-desencriptar{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background-color: #0a3871;
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    border: none;
    margin-right: 20px;
    cursor: pointer;
}

.seccion2{
    display: block;
    position: relative;
    width: 400px;
    height: 850px;
    right: 200px;
    padding-right: 20px;
    background-color: #0a3871;
    box-sizing: content-box;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.50);
}
.contenedormunieco{
    display: flex;
    position:absolute;
    height: -200%;
    left: -50px;
    top: 30px;
    box-sizing: border-box;
}
.contenedor-parrafo{
    position: absolute;
    box-sizing: border-box;
    top: 570px;
    left: 55px;
    
}
.contenedor-parrafo h3{
    font-size: 24px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: #ffffff;
}
.contenedor-parrafo p{
    font-family: 'Inter',sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #fdfdfd;
    padding-top: 20px;
}
.contenedor-resultado{
    position: absolute;
    bottom: 410px;
    width: 320px;
    height: 450px;
    padding: 0;
    box-sizing: border-box;
    margin-left: 25px;
}

.contenedor-resultado p{
    color: #ffffff;
    font-size: 25px;
    padding-top: 60px;
    font-style: italic;
}
.contenedor-copiar{
    display: flex;
    position: absolute;
    bottom: 400px;
    top: 700px;
    background-color: aqua;
    padding-left: 50px;
}
.btn-copiar{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background-color: #ffffff;
    color: #0a3871;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    border: 1px solid #000000;
    cursor: pointer;
    position: relative;
    top: 50px;
    right: 4px;
}
.ocultar{
    display: none;
}



